

body {
    background-color:papayawhip;
    
    }
    header {
        background-color:lightskyblue;
        text-align: center;
        padding: 50px;
      }
      /* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width:30%;
  height: 300px; /* only for demonstration, should be removed */
  background: rgb(216, 216, 216);
  padding: 20px;
}
/* Style the footer */
footer {
    background-color:rgb(148, 209, 247);
    padding: 30px;
   
    text-align: center;
    color: white;
  }
    h1 {
        color:black;
        text-align: center;
        font-size: 80px;
        font-family: Menlo, Monaco, fixed-width;
    
    }
    
    
    p {
        color: black;
        font-family: "Source Code Pro", Menlo, Monaco, fixed-width;
    }
    
    